body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 92vh;
    background: rgb(167, 3, 68);
    position: relative;
}

.heart {
    height: 100px;
    width: 100px;
    background: red;
    position: relative;
    transform: rotate(-45deg);
    box-shadow: -10px 10px 90px red;
    animation: heart 0.6s linear infinite;
}

@keyframes heart {
    0% {
        transform: rotate(-45deg) scale(1.00);
    }
    80% {
        transform: rotate(-45deg) scale(0.90);
    }
    100% {
        transform: rotate(-45deg) scale(0.80);
    }
}

.heart::before {
    content: "";
    position: absolute;
    height: 100px;
    width: 100px;
    background: red;
    top: -55%;
    border-radius: 50px;
    box-shadow: -10px 10px 90px red;
}

.heart::after {
    content: "";
    position: absolute;
    height: 100px;
    width: 100px;
    background: red;
    right: -55%;
    border-radius: 50px;
    box-shadow: -10px 10px 90px red;
}

.corner-heart {
    height: 50px;
    width: 50px;
    background: red;
    position: absolute;
    transform: rotate(-45deg);
    box-shadow: -5px 5px 45px red;
}

.corner-heart::before {
    content: "";
    position: absolute;
    height: 50px;
    width: 50px;
    background: red;
    top: -55%;
    border-radius: 25px;
    box-shadow: -5px 5px 45px red;
}

.corner-heart::after {
    content: "";
    position: absolute;
    height: 50px;
    width: 50px;
    background: red;
    right: -55%;
    border-radius: 25px;
    box-shadow: -5px 5px 45px red;
}

.top-left {
    top: 10px;
    left: 10px;
}

.top-right {
    top: 10px;
    right: 10px;
}

.bottom-left {
    bottom: 10px;
    left: 10px;
}

.bottom-right {
    bottom: 10px;
    right: 10px;
}